<html>
    <head>
        <title>Login Page</title>
    </head>

    <body>
        <form class="form" action="/registration" method="POST">

            <p>First_name <input type="text" name="name"/> </p>
            <p>Last_name <input type="text" name="name"/> </p>
            <p>email <input type="email" name="email"/></p>
            <p>phone <input type="integer" name="phone"/> </p>
            <p>gender <input type="text" name="gender"/></p>
            <p>age<input type="text" name="age"/></p>
            <p>password <input type="password" name="name"/> </p>

           
            <p><input type="submit" value="submit"/></p>
        </form>
    </body>
</html>